<!-- <link rel='stylesheet' type='text/css' href='style.css'/> -->
<body>
<%= @game.player_1_turn ? @game.player_2.name : @game.player_1.name%> attacked
<%= @game.player_1_turn ? @game.player_1.name : @game.player_2.name%>
<form action="/play">
<input type="submit" value="OK">
</form>
</body>
