<center>


<h1>Battle!</h1>


<h2>Sign in to play</h2>


<form action="/contestants" method="post">

<iframe src="//giphy.com/embed/T4YrIjNtJ7mRq" width="400" height="460" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

 <label for="contestant_1_name">

  Contestant 1 name

  <input type="text" name="contestant_1_name">

</label>


 <iframe src="//giphy.com/embed/1G5dIxnDYQlhe" width="400" height="460" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

   <label for="contestant_2_name">

     Contestant 2 name

    <input type="text" name="contestant_2_name">

  </label>

<input type="submit" value="Submit">
</center>
</form>
