
body {
    position: center;
    background-size: 100%, 100%;
    background-image: url("http://pre02.deviantart.net/7dc0/th/pre/f/2012/030/7/f/battle_bases_01bg_hd_by_xalien95-d4o49yb.png");
    background-color: #cccccc;
}

player1sprite {
  position: absolute;
  right:1200px;
  bottom:100px;
}

font {
  font-size: 50px;
  color: white
}


nav {
 position: absolute;
 left: 690px;
}

nav2 {
 position: absolute;
 right: 690px;
}
player1attack {
position: absolute;
right:1600px;
bottom:350px;
}
player1HP {
position: absolute;
right:1600px;
bottom:400px;
}

player2HP {
position: absolute;
left:1600px;
bottom:400px;
}

down {
position: absolute;
left: 905px;
bottom: 550px;
}
